@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}
/*              header section style start           */

.heading-section{
    /* margin-top: 0; */
    /* position: relative; */
  text-align: center;
  /* color: white; */
    position: relative; 
    height: 100vh;
    width: 100%;
    /* width: 1440px;
    height: 669px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('images/donation0.jpg');
    background-size: cover;
}
.heading-section::before{
    content: "";
    opacity: 0.75;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.75);
}
.bg-section{
     position: absolute;
     /* top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);  */
}
.heading{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 0;
    color: #ffffff; 
    margin-bottom: 20px;
}
.header-info{
    width: 691px;
    height: 56px;
     margin-left: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}
.donate-btn{
    margin-top: 30px;
    padding: 16px 12px;
    gap: 8px;
    width: 160px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

/*             header section style end                */